
# Environment variables
.env
.env.local
.env.production
.env.development

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build / cache
dist/
.cache/
.temp/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Debug files
*.pid
*.seed
*.pid.lock
